.btn {
    user-select: none;
    padding: 0 61px;
    font-weight: 300;
    font-size: 32px;
    @include lh(39, 32);
    border-radius: 74px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    min-height: 63px;
    &--border {
        border: 1px solid $white;
        &:hover {
            color: $base;
            background-color: $white;
        }
    }
    &--green {
        background: $green;
        &:hover {
            background: transparent;
            border: 1px solid $green;
        }
    }
}