@media (max-width: 992px) {
    h1 {
        font-size: 30px;
    }
    .btn {
        padding: 0 41px;
        font-size: 20px;
        min-height: 46px;
    }
    .website {
        &__body {
            justify-content: stretch;
            padding: 30px 0;
        }
        &__digits {
            padding: 60px 0;
            font-size: 100px;
        }
        &__settings {
            position: fixed;
            bottom: -300px;
            left: 0;
            width: 100%;
            padding: 20px 0;
            background: $base-second;
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
            transition: 0.2s ease-in-out;
        }
        &__settings.active {
            bottom: 0;
        }
        &__warning {
            font-size: 30px;
            padding: 200px 0px 0px 0px;
        }
    }
    .settings-website {
        &__heading {
            position: absolute;
            top: -60px;
            left: 15px;
        }
    }
    .first-number-settings-website {
        &__text {
            margin-top: 23px;
        }
    }
}

@media (max-width: 633px) {
    .website__settings {
        bottom: -322px;
    }
}

@media (max-width: 475px) {
    .website {
        &__digits {
            font-size: 80px;
        }
        &__digits>*:not(:last-child) {
            margin: 0px 30px 0px 0px;
        }
    }
}

@media (max-width: 426px) {
    h1 {
        font-size: 24px;
    }
    .website {
        &__warning {
            font-size: 24px;
        }
        &__settings {
            bottom: -345px;
        }
        &__digits {
            font-size: 70px;
        }
        &__digits>*:not(:last-child) {
            margin: 0px 20px 0px 0px;
        }
    }
}

@media (max-width: 366px) {
    .website {
        &__settings {
            bottom: -367px;
        }
        &__digits {
            font-size: 60px;
        }
    }
    .error-save {
        width: 100%;
        right: 0;
    }
}